/* === BASIC SETUP === */
body {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  background-color: #0e0e0e;
  overflow-x: hidden;
  height: 100vh;
}

.scroll-space {
  height: 300vh;
  background-color: transparent;
}

#hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0e0e0e;
  overflow: hidden;
  z-index: 1;
}
